eyeColor brown blue green
pimples white yellow green red blue brown black
hairColor white black brown red blue
hairLength white yellow green red blue brown black
faceShape white black green red blue brown
hat white yellow green red blue brown black
noseShape white yellow green red black
facialHair white yellow blue red
glasses green yellow

P1
eyeColor blue
pimples yellow
hairColor red
hairLength blue
faceShape black
hat brown
noseShape white
facialHair yellow
glasses green

P2
eyeColor green
pimples white
hairColor blue
hairLength red
faceShape black
hat green
noseShape red
facialHair white
glasses green

P3
eyeColor blue
pimples yellow
hairColor blue
hairLength blue
faceShape green
hat black
noseShape red
facialHair red
glasses green

P4
eyeColor blue
pimples brown
hairColor white
hairLength green
faceShape green
hat blue
noseShape black
facialHair red
glasses yellow

P5
eyeColor green
pimples yellow
hairColor red
hairLength brown
faceShape brown
hat blue
noseShape black
facialHair yellow
glasses yellow

P6
eyeColor brown
pimples black
hairColor white
hairLength red
faceShape white
hat black
noseShape black
facialHair yellow
glasses yellow

P7
eyeColor green
pimples red
hairColor black
hairLength black
faceShape green
hat red
noseShape red
facialHair blue
glasses yellow

P8
eyeColor green
pimples red
hairColor black
hairLength blue
faceShape brown
hat white
noseShape green
facialHair blue
glasses green

P9
eyeColor blue
pimples yellow
hairColor brown
hairLength red
faceShape green
hat black
noseShape black
facialHair yellow
glasses yellow

P10
eyeColor blue
pimples red
hairColor brown
hairLength green
faceShape black
hat yellow
noseShape black
facialHair red
glasses yellow

P11
eyeColor green
pimples black
hairColor black
hairLength brown
faceShape black
hat black
noseShape black
facialHair red
glasses green

P12
eyeColor green
pimples yellow
hairColor black
hairLength brown
faceShape brown
hat yellow
noseShape black
facialHair yellow
glasses green

P13
eyeColor green
pimples blue
hairColor brown
hairLength green
faceShape white
hat red
noseShape yellow
facialHair red
glasses green

P14
eyeColor blue
pimples yellow
hairColor red
hairLength black
faceShape white
hat red
noseShape red
facialHair white
glasses yellow

P15
eyeColor green
pimples white
hairColor black
hairLength red
faceShape red
hat yellow
noseShape yellow
facialHair blue
glasses yellow

P16
eyeColor brown
pimples brown
hairColor brown
hairLength white
faceShape brown
hat yellow
noseShape red
facialHair yellow
glasses green

P17
eyeColor green
pimples yellow
hairColor red
hairLength blue
faceShape blue
hat white
noseShape green
facialHair yellow
glasses green

P18
eyeColor brown
pimples red
hairColor black
hairLength brown
faceShape black
hat green
noseShape yellow
facialHair red
glasses green

P19
eyeColor blue
pimples red
hairColor white
hairLength green
faceShape blue
hat yellow
noseShape red
facialHair red
glasses yellow

P20
eyeColor green
pimples yellow
hairColor black
hairLength yellow
faceShape red
hat brown
noseShape green
facialHair white
glasses yellow

P21
eyeColor green
pimples blue
hairColor blue
hairLength red
faceShape blue
hat brown
noseShape white
facialHair yellow
glasses yellow

P22
eyeColor blue
pimples green
hairColor black
hairLength blue
faceShape brown
hat yellow
noseShape green
facialHair white
glasses green

P23
eyeColor green
pimples white
hairColor blue
hairLength green
faceShape white
hat green
noseShape black
facialHair yellow
glasses green

P24
eyeColor blue
pimples white
hairColor brown
hairLength white
faceShape brown
hat black
noseShape black
facialHair red
glasses yellow

P25
eyeColor blue
pimples green
hairColor brown
hairLength blue
faceShape red
hat red
noseShape green
facialHair red
glasses green

P26
eyeColor brown
pimples red
hairColor black
hairLength red
faceShape brown
hat brown
noseShape red
facialHair yellow
glasses green

P27
eyeColor green
pimples white
hairColor white
hairLength red
faceShape brown
hat white
noseShape green
facialHair red
glasses green

P28
eyeColor blue
pimples red
hairColor white
hairLength white
faceShape black
hat blue
noseShape yellow
facialHair white
glasses green

P29
eyeColor blue
pimples white
hairColor red
hairLength black
faceShape white
hat blue
noseShape yellow
facialHair red
glasses green

P30
eyeColor brown
pimples yellow
hairColor white
hairLength blue
faceShape blue
hat red
noseShape yellow
facialHair yellow
glasses green

P31
eyeColor blue
pimples yellow
hairColor blue
hairLength green
faceShape black
hat black
noseShape green
facialHair yellow
glasses yellow

P32
eyeColor brown
pimples blue
hairColor white
hairLength green
faceShape green
hat red
noseShape black
facialHair white
glasses yellow

P33
eyeColor green
pimples brown
hairColor brown
hairLength yellow
faceShape white
hat brown
noseShape black
facialHair red
glasses yellow

P34
eyeColor green
pimples brown
hairColor blue
hairLength red
faceShape blue
hat black
noseShape red
facialHair red
glasses green

P35
eyeColor blue
pimples white
hairColor white
hairLength blue
faceShape black
hat green
noseShape black
facialHair blue
glasses yellow

P36
eyeColor blue
pimples white
hairColor blue
hairLength blue
faceShape blue
hat brown
noseShape black
facialHair blue
glasses yellow

P37
eyeColor blue
pimples brown
hairColor brown
hairLength white
faceShape white
hat brown
noseShape yellow
facialHair white
glasses yellow

P38
eyeColor brown
pimples black
hairColor white
hairLength red
faceShape blue
hat brown
noseShape black
facialHair blue
glasses yellow

P39
eyeColor blue
pimples black
hairColor red
hairLength white
faceShape green
hat blue
noseShape black
facialHair red
glasses green

P40
eyeColor blue
pimples black
hairColor brown
hairLength white
faceShape green
hat white
noseShape green
facialHair blue
glasses yellow

P41
eyeColor green
pimples brown
hairColor black
hairLength green
faceShape brown
hat white
noseShape yellow
facialHair red
glasses yellow

P42
eyeColor blue
pimples white
hairColor black
hairLength red
faceShape white
hat green
noseShape yellow
facialHair yellow
glasses yellow

P43
eyeColor brown
pimples blue
hairColor blue
hairLength red
faceShape red
hat green
noseShape black
facialHair yellow
glasses green

P44
eyeColor green
pimples green
hairColor brown
hairLength black
faceShape green
hat red
noseShape red
facialHair white
glasses yellow

P45
eyeColor green
pimples white
hairColor black
hairLength red
faceShape white
hat black
noseShape red
facialHair red
glasses yellow

P46
eyeColor blue
pimples green
hairColor blue
hairLength brown
faceShape brown
hat black
noseShape green
facialHair blue
glasses yellow

P47
eyeColor green
pimples black
hairColor black
hairLength green
faceShape blue
hat yellow
noseShape white
facialHair red
glasses green

P48
eyeColor brown
pimples yellow
hairColor brown
hairLength yellow
faceShape black
hat red
noseShape green
facialHair yellow
glasses green

P49
eyeColor green
pimples green
hairColor black
hairLength green
faceShape white
hat green
noseShape black
facialHair white
glasses green

P50
eyeColor green
pimples yellow
hairColor black
hairLength green
faceShape white
hat red
noseShape yellow
facialHair red
glasses yellow

P51
eyeColor green
pimples red
hairColor blue
hairLength black
faceShape red
hat black
noseShape green
facialHair white
glasses yellow

P52
eyeColor blue
pimples blue
hairColor red
hairLength blue
faceShape red
hat yellow
noseShape yellow
facialHair white
glasses yellow

P53
eyeColor green
pimples yellow
hairColor blue
hairLength brown
faceShape brown
hat blue
noseShape green
facialHair white
glasses green

P54
eyeColor blue
pimples brown
hairColor brown
hairLength yellow
faceShape brown
hat yellow
noseShape black
facialHair white
glasses green

P55
eyeColor blue
pimples green
hairColor red
hairLength black
faceShape black
hat white
noseShape white
facialHair yellow
glasses green

P56
eyeColor green
pimples red
hairColor white
hairLength yellow
faceShape black
hat red
noseShape green
facialHair blue
glasses green

P57
eyeColor green
pimples yellow
hairColor white
hairLength brown
faceShape black
hat blue
noseShape green
facialHair white
glasses green

P58
eyeColor green
pimples yellow
hairColor black
hairLength black
faceShape black
hat blue
noseShape black
facialHair white
glasses yellow

P59
eyeColor green
pimples green
hairColor red
hairLength white
faceShape black
hat green
noseShape black
facialHair yellow
glasses green

P60
eyeColor blue
pimples white
hairColor blue
hairLength blue
faceShape green
hat blue
noseShape green
facialHair blue
glasses yellow

P61
eyeColor blue
pimples white
hairColor black
hairLength white
faceShape blue
hat red
noseShape white
facialHair white
glasses green

P62
eyeColor blue
pimples green
hairColor black
hairLength white
faceShape black
hat red
noseShape black
facialHair red
glasses green

P63
eyeColor green
pimples brown
hairColor black
hairLength red
faceShape blue
hat red
noseShape black
facialHair white
glasses yellow

P64
eyeColor blue
pimples green
hairColor blue
hairLength green
faceShape black
hat black
noseShape red
facialHair blue
glasses green

P65
eyeColor brown
pimples white
hairColor white
hairLength white
faceShape white
hat brown
noseShape yellow
facialHair white
glasses green

P66
eyeColor brown
pimples yellow
hairColor brown
hairLength white
faceShape green
hat black
noseShape red
facialHair yellow
glasses green

P67
eyeColor green
pimples blue
hairColor black
hairLength red
faceShape white
hat brown
noseShape white
facialHair yellow
glasses green

P68
eyeColor blue
pimples red
hairColor blue
hairLength red
faceShape black
hat black
noseShape yellow
facialHair white
glasses yellow

P69
eyeColor brown
pimples brown
hairColor brown
hairLength red
faceShape green
hat yellow
noseShape red
facialHair yellow
glasses green

P70
eyeColor green
pimples white
hairColor red
hairLength green
faceShape blue
hat black
noseShape white
facialHair blue
glasses yellow

P71
eyeColor green
pimples white
hairColor brown
hairLength white
faceShape red
hat red
noseShape black
facialHair white
glasses yellow

P72
eyeColor blue
pimples black
hairColor red
hairLength yellow
faceShape green
hat red
noseShape green
facialHair blue
glasses green

P73
eyeColor brown
pimples green
hairColor red
hairLength red
faceShape black
hat red
noseShape red
facialHair white
glasses yellow

P74
eyeColor brown
pimples brown
hairColor white
hairLength red
faceShape black
hat black
noseShape green
facialHair red
glasses green

P75
eyeColor green
pimples red
hairColor blue
hairLength blue
faceShape white
hat blue
noseShape white
facialHair white
glasses yellow

P76
eyeColor brown
pimples blue
hairColor white
hairLength white
faceShape black
hat green
noseShape yellow
facialHair yellow
glasses green

P77
eyeColor blue
pimples yellow
hairColor black
hairLength yellow
faceShape white
hat yellow
noseShape green
facialHair white
glasses yellow

P78
eyeColor green
pimples white
hairColor blue
hairLength green
faceShape black
hat black
noseShape white
facialHair red
glasses yellow

P79
eyeColor blue
pimples red
hairColor red
hairLength blue
faceShape black
hat black
noseShape white
facialHair blue
glasses green

P80
eyeColor blue
pimples white
hairColor blue
hairLength red
faceShape red
hat blue
noseShape black
facialHair red
glasses yellow

P81
eyeColor blue
pimples yellow
hairColor brown
hairLength black
faceShape black
hat blue
noseShape green
facialHair red
glasses green

P82
eyeColor green
pimples blue
hairColor red
hairLength black
faceShape blue
hat black
noseShape red
facialHair yellow
glasses yellow

P83
eyeColor green
pimples brown
hairColor red
hairLength yellow
faceShape red
hat green
noseShape white
facialHair red
glasses green

P84
eyeColor green
pimples white
hairColor black
hairLength white
faceShape green
hat white
noseShape yellow
facialHair yellow
glasses yellow

P85
eyeColor green
pimples green
hairColor blue
hairLength red
faceShape white
hat blue
noseShape yellow
facialHair red
glasses yellow

P86
eyeColor blue
pimples yellow
hairColor blue
hairLength red
faceShape blue
hat red
noseShape red
facialHair red
glasses yellow

P87
eyeColor brown
pimples green
hairColor black
hairLength white
faceShape blue
hat yellow
noseShape green
facialHair yellow
glasses yellow

P88
eyeColor brown
pimples yellow
hairColor white
hairLength red
faceShape red
hat blue
noseShape red
facialHair white
glasses yellow

P89
eyeColor brown
pimples brown
hairColor black
hairLength green
faceShape white
hat black
noseShape green
facialHair yellow
glasses green

P90
eyeColor brown
pimples blue
hairColor blue
hairLength brown
faceShape brown
hat blue
noseShape yellow
facialHair red
glasses yellow

P91
eyeColor green
pimples green
hairColor brown
hairLength brown
faceShape white
hat blue
noseShape white
facialHair blue
glasses yellow

P92
eyeColor green
pimples white
hairColor blue
hairLength red
faceShape red
hat yellow
noseShape red
facialHair red
glasses yellow

P93
eyeColor green
pimples red
hairColor white
hairLength yellow
faceShape green
hat black
noseShape white
facialHair red
glasses yellow

P94
eyeColor brown
pimples brown
hairColor blue
hairLength red
faceShape brown
hat green
noseShape yellow
facialHair blue
glasses yellow

P95
eyeColor brown
pimples brown
hairColor red
hairLength green
faceShape brown
hat brown
noseShape black
facialHair blue
glasses green

P96
eyeColor blue
pimples blue
hairColor white
hairLength blue
faceShape brown
hat brown
noseShape red
facialHair blue
glasses yellow

P97
eyeColor green
pimples blue
hairColor white
hairLength red
faceShape brown
hat green
noseShape red
facialHair white
glasses yellow

P98
eyeColor brown
pimples blue
hairColor red
hairLength blue
faceShape red
hat blue
noseShape yellow
facialHair blue
glasses yellow

P99
eyeColor blue
pimples red
hairColor blue
hairLength green
faceShape red
hat red
noseShape white
facialHair yellow
glasses green

P100
eyeColor blue
pimples blue
hairColor blue
hairLength white
faceShape red
hat brown
noseShape red
facialHair red
glasses yellow
